// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #6667ab;
$text: #423e37;
$success: #72955F;
$danger: #CE2D4F;
$warning: #ffba49;
$background: #fbfbff;
//$info: #8ff5f5;
$info: #10BCBC;
